.contact-page {
  background: #d6d5d5;
  min-height: calc(100vh - 70px);
  padding: 40px 20px;
}

.contact-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

/* LAYOUT */
.contact-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* CARD */
.contact-card {
  background: white;
  border-radius: 16px;
  padding: 26px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.contact-card h2 {
  margin-bottom: 14px;
}

/* FORM */
.contact-card label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-top: 14px;
}

.contact-card input,
.contact-card textarea {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  margin-top: 6px;
}

.contact-card input:focus,
.contact-card textarea:focus {
  outline: none;
  border-color: #000;
}

.send-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.send-btn:hover {
  opacity: 0.9;
}

/* INFO */
.subtitle {
  color: #6b7280;
  margin-bottom: 12px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* MAP */
.map-box {
  margin-top: 16px;
  border-radius: 14px;
  overflow: hidden;
}

.map-box iframe {
  width: 100%;
  height: 220px;
  border: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

/* MOBILE RESPONSIVE */
/* ============================= */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-card {
    padding: 20px;
  }

  .map-box iframe {
    height: 200px;
  }
}