.footer {
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  padding-top: 40px;
  /* margin-top: 60px; */
}

/* GRID */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* COLUMN */
.footer-col h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #111827;
}

.footer-logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 14px;
}

/* LINKS */
.footer-col a {
  display: block;
  font-size: 14px;
  color: #374151;
  margin-bottom: 8px;
  text-decoration: none;
}

.footer-col a:hover {
  color: #16a34a;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icons i {
  width: 34px;
  height: 34px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #374151;
  transition: background 0.3s, color 0.3s;
}

.social-icons i:hover {
  background: #16a34a;
  color: white;
}

/* CONTACT */
.contact-email {
  font-weight: 600;
  margin: 6px 0;
}

.contact-phone {
  margin-top: 6px;
  font-weight: 600;
}

/* FOOTER BOTTOM */
.footer-bottom {
  border-top: 1px solid #e5e7eb;
  margin-top: 30px;
  padding: 14px 0;
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
